<!--
{{!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Password Management" src="...">
      </a>
      {{#link-to 'index'}}
        <button type="button" class="btn btn-default navbar-btn" aria-label="Home">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </button>
      {{/link-to}}
      {{#link-to 'new-password'}}
        <button type="button" class="btn btn-default navbar-btn" aria-label="Add Password">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      {{/link-to}}
    </div>
  </div>
</nav>
--}}
-->
<H1>Password List Page</H1>

<!-- table id="passwordListTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Password</th>
      <th>Application Name</th>
      <th>Application URL</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>User ID</th>
      <th>Password</th>
      <th>Application Name</th>
      <th>Application URL</th>
      <th>Delete</th>
    </tr>
  </tfoot>

  <tbody>
{{!--    {{#each passwords as |passwords|}}
      <tr>
        <td>{{passwords.userId}}</td>
        <td>{{passwords.password}}</td>
        <td>{{passwords.applicationName}}</td>
        <td>{{passwords.applicationURL}}</td>
        <td>
          {{#link-to 'index'}}
            <button type="button" class="btn btn-default navbar-btn" aria-label="Delete">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
          {{/link-to}}
        </td>
      </tr>
    {{/each}} --}}
  </tbody>
</table>
-->

<ul>
  password list

  {{#each model as |navItem index|}}
    {{index}}
    <li>UserId: {{navItem.userId}}</li>
  {{/each}}
</ul>

<script>
  $(document).ready(function() {
    $('#passwordListTable').DataTable();
  });
</script>